@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global Styles */

:root {
  --primary-dark-color: #161616;
  --primary-light-color: #eeeeee;
  --primary-green-color: #7aba47;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ==================================

NAVBAR

===================================== */

.navbar {
  background-color: var(--primary-dark-color);
  color: #ffffff;
  height: 75px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 5px;
  margin: 0 5px;
  font-size: 22px;
}

.navbar a:hover {
  border-bottom: 1px #fff solid;
}

.navbar i {
  color: var(--primary-green-color);
}

nav h1 {
  color: var(--primary-green-color);
}

nav h1 span {
  color: #fff;
}

.navbar li a {
  margin: 0 20px;
}

.navbar .logo {
  margin: 0 150px;
}

.navbar i {
  margin: 10px 10px;
}

.navbar i:hover {
  color: #fff;
}

/* ==========================================

Experience The Difference

============================================= */

.the-difference {
  height: 900px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/main.png);
  background-size: cover;
  color: #fff;
  position: relative;
}

.the-difference .container {
  max-width: 1000px;
  padding: 100px;
  margin-left: 200px;
}

.the-difference h1 {
  color: var(--primary-green-color);
  font-size: 100px;
  font-weight: 700;
}

.the-difference p {
  margin-top: 20px;
  padding: 50 0px;
  font-size: 30px;
}

.the-difference .container *:nth-child(3) {
  background-color: var(--primary-green-color);
  margin-top: 60px;
}
.the-difference .container *:nth-child(4) {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
  margin-top: 60px;
  margin-left: 20px;
}

/* ===============================

Book a Consultation Today

================================== */

.consultation {
  background-color: var(--primary-green-color);
  color: #0f0f0f;
  height: 100px;
}
.consultation h2 {
  display: inline;
}
.consultation i {
  margin: 0 30px;
}
.consultation i:hover {
  color: var(--primary-light-color);
}

/* ================================

Choose Us

=================================== */

.choose-us {
  height: 700px;
  /* background-color: var(--primary-color); */
  color: var(--primary-dark-color);
  position: relative;
}

.choose-us-text {
  margin-left: 280px;
}
.choose-us-text h3 {
  color: var(--primary-green-color);
}

.choose-us h1 {
  font-size: 40px;
  font-weight: bold;
}

.choose-us p {
  margin: 20px 0;
}

.choose-us-text a {
  background-color: var(--primary-green-color);
  color: var(--primary-dark-color);
}

.choose-us .grid {
  grid-template-columns: 35% 65%;
  gap: 30px;
}

.choose-us-img img {
  max-width: 1200px;
}

.choose-us .btn {
  margin-top: 20px;
}

/* =======================================

Services and Installations

========================================== */

.services-installations {
  background-color: #1d1d1d;
  color: #fff;
}

.services-installations h3 {
  color: var(--primary-green-color);
  padding-top: 70px;
}

.services-installations .card h2 {
  color: var(--primary-green-color);
}

.services-installations .flex {
  flex-wrap: wrap;
}

.services-installations .card {
  text-align: center;
  margin: 18px 10px 40px;
  background-color: #1d1d1d;
  color: var(--primary-light-color);
  transition: transform 0.2s ease-in;
}

.services-installations .card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary-green-color);
}

.services-installations .card p {
  padding: 30px;
}

.services-installations .card img {
  max-width: 400px;
}

.services-installations a {
  background-color: var(--primary-green-color);
  color: var(--primary-dark-color);
}

.services-installations a:hover {
  background-color: var(--primary-light-color);
}

.services-installations .card:hover {
  transform: translateY(-15px);
  background-color: #2b2b2b;
}

/* ================================

Case Study

=================================== */

.case-study {
  /* height: 700px; */
  /* background-color: var(--primary-color); */
  color: var(--primary-dark-color);
  position: relative;
}

.case-study-text {
  padding: 100px;
}

.case-study-text h3 {
  color: var(--primary-green-color);
}

.case-study h1 {
  font-size: 40px;
  font-weight: bold;
}

.case-study p {
  margin: 20px 0;
}

.case-study-text a {
  background-color: var(--primary-green-color);
  color: var(--primary-dark-color);
  margin-top: 20px;
}

/* .case-study .grid {
  grid-template-columns: 20% 20%;
  gap: 30px;
} */

.case-study-img {
  padding: 100px;
}

.case-study-img img {
  max-width: 700px;
  padding: 20px;
  border-right: 5px solid var(--primary-green-color);
  border-bottom: 5px solid var(--primary-green-color);
}

/* ====================================

Testimonials

======================================= */

.testimonials {
  /* background-image:; */
  height: 600px;
  background-color: var(--primary-dark-color);
  border-bottom: 10px solid green;
}

.testimonials .flex {
  display: flex;
  flex-direction: column;
}

.testimonials h1 {
  padding: 30px;
  font-size: 40px;
  color: var(--primary-green-color);
}
.testimonials p {
  padding: 30px;
  font-size: 30px;
  color: var(--primary-light-color);
}
.testimonials .first-bullet {
  color: var(--primary-green-color);
}

.testimonials .bullet-icons {
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

.testimonials .bullet-icons i:hover {
  color: var(--primary-light-color);
}

.bullet-icons i {
  margin: 0 10px;
}

/* =======================================

Footer

========================================== */

.footer {
  background-color: #151515;
  color: #fff;
  height: 400px;
}

.footer h1 {
  color: var(--primary-green-color);
}

.footer .flex {
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer .card {
  text-align: left;
  margin: 60px 10px 40px;
  background-color: #151515;
  color: var(--primary-light-color);
  transition: transform 0.2s ease-in;
}

.footer i {
  color: var(--primary-green-color);
  margin-right: 10px;
  margin-left: 10px;
}

/* .footer .card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary-green-color);
} */

/* .footer .card p {
  padding: 30px;
} */

/* .footer a {
  background-color: var(--primary-green-color);
  color: var(--primary-dark-color);
} */

.footer a:hover {
  color: var(--primary-green-color);
}

.footer .card:hover {
  background-color: #2b2b2b;
}

.copyright {
  background-color: #000;
  height: 70px;
}

.copyright .flex {
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
}

.copyright i {
  color: #fff;
}
.copyright i:hover {
  color: var(--primary-green-color);
}

.footer .read-more {
  color: var(--primary-green-color);
}

.footer .read-more:hover {
  color: var(--primary-light-color);
}

.footer p,
.footer ul {
  margin-top: 20px;
}
